/* Navigation */

#header {
  top: 0px;
  position: fixed;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  background: #262626;
  z-index: 9;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #262626;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  /* display: inline; */
  /* float: right; */
  display: flex;
  align-items: center;
  font-size: 15px;
}

.nav > .nav-links > a {
  /* display: inline-block; */
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  padding: 26px 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.nav > .nav-links > a:active {
  color: #e5a459;
}
.nav > .nav-links > a[tabindex]:focus {
  color: #e5a459;
  outline: none;
  padding: 26px 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* multiscroll */

#multiscroll-nav li .active span {
  background: gray;
}
.ms-left div {
  background-size: cover;
  background-position: right;
}
.ms-left .first {
  background-image: url(assets/pictures/slides/1L.jpg);
}
.ms-left .second {
  background-image: url(assets/pictures/slides/2L.jpg);
}
.ms-left .third {
  background-image: url(assets/pictures/slides/3L.jpg);
}
.ms-left .fourth {
  background-image: url(assets/pictures/slides/4L.jpg);
}
.ms-left .fifth {
  background-image: url(assets/pictures/slides/5L.jpg);
}
.ms-right {
  width: calc(50% + 1px);
  right: 0px;
}
.ms-right div {
  background-size: cover;
  background-position: left;
}
.ms-right .first {
  background-image: url(assets/pictures/slides/1R.jpg);
}
.ms-right .second {
  background-image: url(assets/pictures/slides/2R.jpg);
}
.ms-right .third {
  background-image: url(assets/pictures/slides/3R.jpg);
}
.ms-right .fourth {
  background-image: url(assets/pictures/slides/4R.jpg);
}
.ms-right .fifth {
  background-image: url(assets/pictures/slides/5R.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.leftFirstHalf {
  width: 100%;
  height: 50%;
  background-color: ghostwhite;
  opacity: 0.4;
  text-align: center;
}
.leftSecondHalf {
  width: 100%;
  height: 50%;
  background-color: black;
  opacity: 0.4;
  text-align: center;
}
.rightFirstHalf {
  width: 100%;
  height: 50%;
  background-color: black;
  opacity: 0.4;
  text-align: center;
}
.rightSecondHalf {
  width: 100%;
  height: 50%;
  background-color: ghostwhite;
  opacity: 0.4;
  text-align: center;
}
