body {
  background-color: black;
}
h1 {
  margin-top: 70px;
  padding-top: 3%;
  padding-bottom: 3%;
  color: whitesmoke;
  font-weight: 300;
  font-size: 250%;
  text-transform: capitalize;
  text-align: center;
}
.container {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 24%;
  height: 40%;
  box-shadow: 2px 4px 4px 2px rgba(255, 255, 255, 0.248);
  transition: ease-in-out 0.3s;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 2px 4px 8px 2px rgba(255, 255, 255, 0.25);
  /* border: 2px solid whitesmoke; */
}
.title {
  color: whitesmoke;
  text-align: center;
  font-size: 200%;
  padding: 5%;
}
.description {
  color: whitesmoke;
  padding: 5%;
  text-align: center;
}
