/* multiscroll */

#multiscroll-nav li .active span {
  background: gray;
}
.ms-left {
  /* height: calc(100% - 70px) !important; */
  top: 70px !important;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}
.ms-left div {
  background-size: cover;
  background-position: right;
}

.ms-left .zero {
  background-image: linear-gradient(#e5a459b6, #000000e7),
    url(../../assets/pictures/slides/whatWeOffer/move1.jpg);
}
.ms-left .first {
  background-image: linear-gradient(#e5a459b6, #000000e7),
    url(../../assets/pictures/slides/whatWeOffer/move1.jpg);
}

.ms-right {
  width: calc(50% + 1px);
  /* height: calc(100% - 70px) !important; */
  right: 0px !important;
  top: 70px !important;
  font-family: 'Montserrat', sans-serif;
}
.ms-right div {
  background-size: cover;
  background-position: left;
}
.ms-right .zero {
  background-image: linear-gradient(#e5a459b6, #000000e7),
    url(../../assets/pictures/slides/whatWeOffer/move2.jpg);
}
.ms-right .first {
  background-image: linear-gradient(#e5a459b6, #000000e7),
    url(../../assets/pictures/slides/whatWeOffer/move2.jpg);
}

.description {
  position: absolute;
  top: 0%;
  background-color: #000000d6;
  color: whitesmoke;
  height: 100%;
  max-width: 100%;
  margin: 0;
  transition: all 1s ease-in-out;
  z-index: 1;
}
input:checked + #two {
  transform: translateX(100%);
}
.slideLogoText {
  top: 3%;
  right: 0%;
}

.slideLogoOrah {
  bottom: 10%;
  right: 3%;
}
.slideHeading {
  transition: all 1s ease-in-out;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + p {
  display: none;
  width: 100%;
}
input[type='checkbox']:checked + p {
  display: block;
  transform: translateX(100%);
}
.slideHeading {
  top: 0;
  width: 100%;
  height: 100%;
}
label {
  transition: all 1s ease-in-out;
}
