body {
  background-color: black;
  position: relative;
}
h1 {
  padding-top: 3%;
  padding-bottom: 3%;
  color: whitesmoke;
  font-weight: 300;
  font-size: 250%;
  text-transform: capitalize;
  text-align: center;
}
h4 {
  color: whitesmoke;
  font-weight: 300;
  margin: 3.5%;
}
.container {
  background-image: url(../../assets/pictures/whatWeOffer/top.jpeg);
  background-position: center;
  background-size: cover;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 70px);
}
.cardsWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40%;
}

.card {
  transition: ease-in-out 0.3s;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.22);
  border-radius: 3px;
  margin-right: 2%;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.35);
  /* box-shadow: 2px 4px 8px 2px rgba(255, 255, 255, 0.25); */
  /* border: 2px solid whitesmoke; */
}
.card:hover:before {
  transform: scale(1.01);
}
h4 {
  color: whitesmoke;
  font-weight: 200;
  font-size: 130%;
}
.slideButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 15px;
}
.slideLogoOrah {
  bottom: 2%;
  right: 0.5%;
  z-index: 1;
}

.title {
  color: #342836;
  text-align: center;
  font-size: 200%;
  padding: 5%;
  text-transform: capitalize;
}
.description {
  color: whitesmoke;
  padding: 5%;
  text-align: center;
}

@media screen and (min-width: 250px) {
  .container {
    overflow-y: scroll;
    margin-top: 70px;
  }
  .cardsWrap {
    flex-direction: row;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    width: 80%;
    margin-bottom: 25px;
  }
  h1 {
    padding: 5% 0;
  }
  .slideButton {
    margin-top: 25px;
  }
}

@media screen and (min-width: 450px) {
  .card {
    margin-bottom: 40px;
    width: 40%;
  }
}
@media screen and (min-width: 769px) {
  .card {
    width: 23%;
  }
  h1 {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    overflow: hidden;
    justify-content: space-evenly;
  }
  .slideButton {
    margin: 0;
  }
  .card {
    margin: 0;
  }
  .cardsWrap {
    margin: 0;
  }
  h1 {
    padding: 0;
  }
  h4 {
    margin: 0;
  }
}
@media screen and (min-width: 2500px) {
  h1 {
    font-size: 350%;
  }
  h4 {
    font-size: 200%;
  }
  .card {
    width: 22%;
    min-height: 400px;
    font-size: 150%;
  }
  .slideButton {
    transform: scale(1.5);
  }
}
